body {
  background-color: lightblue;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: grey;
  width: 5%;

}
h1 {
  color : #204051;
}

h3 {
  color : #204051;
}
